td, th {
    border: 1px ;
    text-align: left;
    padding: 8px;
}
.res-image{
        width: 100%;
        height: 100%;
      }
#map {
      bottom:0px;
      height: 100%;
      left: 30%;
      position: absolute;
      right: 0px;
      padding-left: 5px;
}
html,
      body {
        font-family: 'Love Ya Like A Sister', cursive;
        font-weight: bolder;
        height: 100%;
        margin: 0;
        padding: 0;
      }
      
      
      .container {
        height: 100%;
        position: relative;
      }

      input {
        font-size: 12px;
      }

      h1 {
        color: #525454;
        font-size: 35px;
        margin: 0 0 10px 0;
        text-align: center;
      }

      .in{
          width: 95%;
          border: 2px solid #ccc;
          border-radius: 4px;
          font-size: 15px;
          padding: 6px 10px 6px 10px;
          margin-bottom: 5px;
      }


      #hide-listings{
        width: 48%;
        font-size: 15px;
        font-family: 'Love Ya Like A Sister', cursive;
        font-weight: bolder;
        cursor: pointer;
        padding: 2%;
      }
      #show-listings {
        width: 48%;
        font-size: 15px;
        font-family: 'Love Ya Like A Sister', cursive;
        font-weight: bolder;
        cursor: pointer;
        padding: 2%;
      }
      .container{
        width: 100%;
        height: 100%;
      }

     
      
      .options-box {
      background: black;
      color: white;
      border: 2px;
      height: 100%;
      padding: 10px;
      text-align: left;
      width: 28%;
      overflow: auto;
}

     @media (max-width: 991px){
        .options-box{
          height: 40%;
          width: 100%;
          margin-bottom: 20px;
        }
        #map{
          height: 58%;
          border: 3px ;
          left: 0%;
        }
}